# Dependencias
node_modules/

# Builds
dist/
build/
.next/
out/
coverage/

# Entorno
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db

# Sistema operativo
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/